html, body {
  background:  aqua;

}

#main-card {
  margin-left: 25vw;
  margin-right: 25vw;
  margin-top: 35vh;
  background-color: rgba(255,255,255, 0.9);
  border-radius: 8px;
  padding: 5vh;



}



